<mat-tab-group>
  <mat-tab label="Welcome"></mat-tab>
  <mat-tab label="Weather">
    <mat-list role="list">
      <mat-list-item role="listitem">@bot What is the weather today in Lviv?</mat-list-item>
      <mat-list-item role="listitem">@bot What is the weather on Monday in Kyiv?</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Currency">
    <mat-list role="list">
      <mat-list-item role="listitem">@bot Convert 20 dollar to euro</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Notes">
    <mat-list role="list">
      <mat-list-item role="listitem">@bot Save note title: “Pattern ‘Proxy’” body: “JavaScript”</mat-list-item>
      <mat-list-item role="listitem">@bot Show note “Pattern ‘Proxy’”</mat-list-item>
      <mat-list-item role="listitem">@bot Show note list</mat-list-item>
      <mat-list-item role="listitem">@bot Delete note: “Pattern ‘Proxy’”</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Advises">
    <mat-list role="list">
      <mat-list-item role="listitem">@bot “Що мені робити з гемороєм? #@)₴?$0</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Quotes">
    <mat-list role="list">
      <mat-list-item role="listitem">@bot show quote</mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Simple chat with bot</h1></mat-card-title>
    <mat-card-subtitle><h2>cls - to clear chat</h2></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="messages">
      <ul>
        <li *ngFor="let message of messages">{{message}}</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field>
      <input matInput placeholder="New message" type="text" #msg (keyup)="sendMsg(msg, $event)">
    </mat-form-field>
  </mat-card-actions>
</mat-card>
